body {
    margin: 0;
    text-align: center;
}

header {
    background: #cccccc;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.logo {
    width: 200px;
    position: absolute;
    left: 0;
    top: -10%;
    }

main {
    padding: 30px;
}

footer {
    background: #cccccc;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
